@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sansita+Swashed:wght@300..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins';
}

:root {

    /* background */
    --background-color: #ECFCFE;
    --section-color: #E4F2FF;

    /* primary color */
    --primary-color: #365ED0;
    --secondary-color: #27A4FF;

    /* color Title */
    --color-title: #2C3B4C;
    --size-title: 2.8rem;
    --size-second-title: 1.7rem;

    /* Text */
    --font-color: #626970;

    /* box shadow */
    --box-shadow: 3px 3px 5px var(--font-color);
}

/********* GLOBAL TAGS *********/
h1 {
    color: var(--color-title);
    font-size: var(--size-title); 
    font-family: 'Sansita Swashed';
}

h2 {
    color: var(--color-title);
    font-size: var(--size-second-title);
}

p {
    color: var(--font-color);
}

ul {
    list-style: none;
}
a {
    text-decoration: none;
}
/********* END GLOBAL TAGS  ********/

/* container */
.container {
    background-color: var(--background-color);
}

/* column */
.col {
    width: 90%;
    margin: auto;
}

/* primary btn */
.btn {
    background-color: var(--primary-color);
    width: 200px;
    height: 60px;
    border: none;
    color: white;
    transition: 0.6s;
    font-size: 18px;
}

.btn:hover {
    cursor: pointer;
    background-color: var(--secondary-color);
    width: 200px;
    height: 60px;
    border: none;
    color: white;
    box-shadow: 3px 3px var(--font-color);
    transform: scale(1.01);
    transition: 0.6s;
}
/* end primary btn */

/* second btn */
.second_btn {
    background-color: var(--secondary-color);
    width: 200px;
    height: 60px;
    border: none;
    color: white;
    transition: 0.6s;
    font-size: 18px;
}

.second_btn:hover {
    cursor: pointer;
    background-color: var(--primary-color);
    width: 200px;
    height: 60px;
    border: none;
    color: white;
    box-shadow: 3px 3px var(--font-color);
    transform: scale(1.01);
    transition: 0.6s;
}
/* end second btn */

/* input */
input {
    border-radius: 4px;
    border: solid 2px var(--secondary-color);
}

input:focus {
    border: solid 3px var(--primary-color);
    outline: none;
}
/* end input */


/* card */
.card {
    border-radius: 6px;
}



/*****************************************************/
/*****************************************************/
/******************* HEADER PHONE ********************/
/*****************************************************/
/*****************************************************/

header {
    background-color: #E4F2FF;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    top: 0;
    box-shadow: 0 1px 6px #00000075;
}

.navbar {
    height: 60px;
    display: flex;
}

.navbar .menu ul a {
    font-size: 1.3rem;
    font-weight: 500;
    transition: 0.6s;
    color: white;
}

.navbar .menu ul a:hover {
    transition: 0.6s;
    color: #365ED0;
}

.navbar .logo img {
    width: 80px;
}

 /********* Buttons Registration *********/
 .registration .btn-login {
    font-size: 1.3rem;
    font-weight: 500;
    transition: 0.6s;
    color: #414141;
    margin-right: 15px;
}

.registration .btn-login:hover {
    transition: 0.6s;
    color: #365ED0;
}

.registration .btn-rogister {
    font-size: 1.3rem;
    font-weight: 400;
    padding: 5px 10px;
    border-radius: 6px;
}

@media (max-width: 1199px) {

    .navbar {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .toggle-menu span {
        font-size: 40px;
    }

    .navbar .menu {
        background-color: rgba(17, 24, 26, 0.778);
        width: 100%;
        padding: 20px;
        position: fixed;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all 0.4s;
    }

    /* class display menu */
    .navbar .display {
        left: 0;
    }

    .menu ul li {
        margin-bottom: 13px;
    }

    header .menu span {
        display: block;
        position: absolute;
        top: 10px;
        right: 30px;
        font-size: 40px;
        color: white;
    }

    .menu .registration {
        margin-top: 30px;
    }
    .menu .registration .btn-login {
        color: white;
        margin-right: 10px;
    }
}


/*****************************************************/
/*****************************************************/
/****************** HEADER DESKTOP *******************/
/*****************************************************/
/*****************************************************/

@media (min-width: 1200px) {

    /***********************************/
    /********** desktop header *********/
    /***********************************/
    .navbar {
        height: 80px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .navbar .logo img {
        width: 80px;
    }
    
    .navbar .menu {
        width: 70%;
        display: flex;
        justify-content: space-between;
    }
    
    .navbar .menu ul {
        display: flex;
    }
    
    .navbar .menu ul li {
        margin-right: 30px;
    }
    
    .navbar .menu ul a {
        font-size: 1.3rem;
        font-weight: 500;
        transition: 0.6s;
        color: #414141;
    }
    
    .navbar .menu ul a:hover {
        transition: 0.6s;
        color: #365ED0;
    }

    /****** Burger menu ******/
    .toggle-menu {
        display: none;
    }

    .menu span {
        display: none;
    }

    .card-about {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
    }

    .card-about img {
        width: calc(55% - 10px);
        margin-bottom: 0;
    }

    .card-about .card {
        width: calc(45% - 10px);
    }

    .card-about .card p {
        line-height: 1.8;
        text-align: start;
    }

    .cards {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
    }

    .card {
        margin: 0;
        width: 100%;
    }

    .our-team .cards-team {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
    }

    .cards-team .card .card-our-team {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .cards-team .card .card-our-team img {
        margin-bottom: 20px;
    }

    .info-user {
        text-align: center;
    }
}