.big-title {
    display: flex;
    justify-content: center;
    padding-top: 20%;

    & .titre {
        text-align: center;
        margin-inline: auto;
        margin-block: 10px;
    }
}

@media (min-width: 326px){
    .big-title{
        padding-top: 20%;
    }
}
@media (min-width: 376px){
    .big-title{
        padding-top: 17%;
    }
}
@media (min-width: 426px){
    .big-title{
        padding-top: 15%;
    }
}
@media (min-width: 600px){
    .big-title{
        padding-top: 10%;
    }
}
@media (min-width: 1024px){
    .big-title{
        padding-top: 8%;
    }
}

.container-1 {
    background-color: #EDFDFF;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-evenly;
}

.cartes-1 {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin-block: 5px;
    margin-inline:5px;
    background-color: #E4F2FF;
    border: solid 1px black;
    border-radius: 5px;
    overflow: auto;

    box-shadow: 2px 1px 6px #626970;

    
    & .col:first-child {
        width: 100%;
        display: flex;
        justify-content: space-between;
        overflow: auto;

        & .image {
            width: 50%;
            overflow: hidden;

            & img {
                width: 100%;
                height: 100%;
                border-radius: 5px;
            }
        }
        & .content {
            width: 50%;
            padding-inline: 1%;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-content: center;
            overflow: auto;
            
            & h2 {
                text-align: center;
                font-size: 30px;
                color: #1C3BCC;
                border-bottom: solid 2px black;
            }

            & p {
                text-align: start;
                font-size: 16px;
                color: black;
            }
        }
    }

    & .col:nth-child(2){
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding-block: 2%;

        & p:first-child {
                color: black;
                font-size: 16px;
            }
        
        & .btn {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: var(--primary-color);
            width: 150px;
            height: 44px;
            border: none;
            border-radius: 4px;
            color: white;
            transition: 0.6s;
            font-size: 18px;
        }
        .btn:hover {
            cursor: pointer;
            background-color: var(--secondary-color);
            width: 200px;
            height: 60px;
            border: none;
            color: white;
            box-shadow: 3px 4px var(--font-color);
            transform: scale(1.01);
            transition: 0.6s;
        }
        & a {
            color: white;
        }
    }

    & .col:last-child {
        display: flex;
        justify-content: space-around;
        padding: 14px 0px 15px 30px;

        & p{
            color: rgb(5, 18, 80);
        }
    }
}

@media (min-width: 801px) {
    .cartes-1 {
        /* display: grid; */
        width: 40%;
    }
}